<div class="new-review">
  <li>
    <h4>Review from {{fullName}}</h4>
    <p>on {{review.date}}</p>
    <p class="thumb">Rating: {{rating-divider review}}</p>
    <p>{{review.body}}</p>
  </li>
</div>
