// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: lighten(goldenrod, 10%);
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 3em;
  h2 {
    font-family: 'Arvo', serif;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-align: center;
    font-size: 1.5em;
    color: darken(goldenrod,10%);
  }
}

.thumbnail {
  width: 325px;
  height: 325px;
  background-size: cover;
  display: block;
  margin-top: 10px;
  -webkit-box-shadow: 9px 8px 17px -6px rgba(0,0,0,0.20);
  -moz-box-shadow: 9px 8px 17px -6px rgba(0,0,0,0.20);
  box-shadow: 9px 8px 17px -6px rgba(0,0,0,0.20);
}

.release {
  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 35px 60px;
  p {
    width: 325px;
  }
}

.release-title {
  display: flex;
  align-items: baseline;
  width: 325px;
}

.my-collection {
  margin-top: 3em;
}

.lg-image {
  width: 500px;
  -webkit-box-shadow: 7px 6px 15px -4px rgba(0,0,0,0.20);
  -moz-box-shadow: 7px 6px 15px -4px rgba(0,0,0,0.20);
  box-shadow: 7px 6px 15px -4px rgba(0,0,0,0.20);
}

.release-page {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  p {
    width: 500px;
    margin-top: 5px;
    b {
      letter-spacing: 0.1em;
      font-size: 1.7em;
      margin-top: 15px;
      float: left;
    }
  }
}

.description {
  line-height: 2em;
}

.release-page-title {
  margin-bottom: 0px;
  width: 500px;
  font-size: 1.7em;
  text-align: center;
  .release-artist {
    color: white;
    font-size: .8em;
    font-weight: lighter;
    line-height: 0.1em;
    margin-bottom: -15px;
  }
}

/**
 * Basic styles for links
 */

a {
  text-decoration: none;
  h1 {
    color: white;
    &:hover {
    color: lighten(red, 30%);
    }
  }
}

//form styling

.form-style {
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 450px;
  font-family: 'Arvo', serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 100px;
  label {
    font-size: .9em;
    margin-bottom: 10px;
    font-weight: lighter;
    color: darken(goldenrod,20%);
  }
  input {
    background: lighten(goldenrod, 30%);
    width: 450px;
    margin-bottom: 20px;
    height: 2.5em;
    font-size: 1em;
    letter-spacing: normal;
    border: none;
    border-radius: 5px;
  }
  button {
    margin-top: 3em;
    align-self: center;
  }
}

textarea {
  background: lighten(goldenrod, 30%);
  border-radius: 5px;
  width: 450px;
  font-family: 'Arvo', serif;
  height: 9em;
  border: none;
}

.review-form {
}

// review component

.new-review {
  margin-top: 2em;
  width: 450px;
  h4 {
    color: darken(goldenrod,20%);
  }
  ul {
    list-style: none;
    li {
    background: lighten(goldenrod, 25%);
    color: goldenrod;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    .thumb {
      color: darken(goldenrod,20%);
    }
    }
  }
}
