// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  font-family: 'Arvo', serif;
  width: 30px;
  height: 30px;
  background: black;
  color: white;
  border-radius: 15px;
  border: none;
  font-weight: lighter;
  &:hover {
    background: red;
  }
}

.button-comments {
  float: right;
}
.add-button {
  font-family: 'Arvo', serif;
  float: right;
  margin-top: 15px;
  font-size: 18px;
}

.index-add-button {
  font-family: 'Arvo', serif;
  margin-left: 10px;
}

.release-button {
  font-family: 'Arvo', serif;
  width: 70px;
  height: 70px;
  background: black;
  color: white;
  border-radius: 35px;
  border: none;
  font-weight: lighter;
  letter-spacing: 0.1em;
  font-size: .9em;
  text-transform: uppercase;
  &:hover {
    background: red;
  }
}

.post-review {
  margin: auto;
  font-family: 'Arvo', serif;
  margin-top: 40px;
  width: 100px;
  height: 100px;
  background: black;
  color: white;
  border-radius: 50px;
  border: none;
  font-weight: lighter;
  letter-spacing: 0.1em;
  font-size: 13px;
  line-height: 1.5em;
  text-transform: uppercase;
  &:hover {
    background: red;
  }
}

// icons

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(6deg);
    }
  50% {
    -webkit-transform: rotate(-6deg);
    }
  100% {
    -webkit-transform: rotate(6deg);
    }
  }

  .logo {
    &:hover{
    -webkit-animation: wiggle 0.5s infinite;
    }
  }

.many-comments {
  font-size: 1.5em;
  color: darken(goldenrod,20%);
}

.fa-thumbs-up, .fa-thumbs-down {
  font-size: 1.5em;
  margin-left: 10px;
}
