// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  font-family: 'Arvo', serif;
  width: 30px;
  height: 30px;
  background: black;
  color: white;
  border-radius: 15px;
  border: none;
  font-weight: lighter;
  &:hover {
    background: red;
  }
}

.add-button {
  font-family: 'Arvo', serif;
  float: right;
  margin-top: 15px;
  font-size: 18px;
}

.index-add-button {
  font-family: 'Arvo', serif;
  float: right;
}

.release-button {
  font-family: 'Arvo', serif;
  width: 70px;
  height: 70px;
  background: black;
  color: white;
  border-radius: 35px;
  border: none;
  font-weight: lighter;
  letter-spacing: 0.1em;
  font-size: .9em;
  text-transform: uppercase;
  &:hover {
    background: red;
  }
}

.post-review {
  margin: auto;
  font-family: 'Arvo', serif;
  margin-top: 40px;
  width: 100px;
  height: 100px;
  background: black;
  color: white;
  border-radius: 50px;
  border: none;
  font-weight: lighter;
  letter-spacing: 0.1em;
  font-size: 13px;
  line-height: 1.5em;
  text-transform: uppercase;
  &:hover {
    background: red;
  }
}
