.favorites {
  float: left;
  margin-top: 40vh;
  position: fixed;
  background: red;
  width: 60px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;;
  text-align: center;
  font-weight: lighter;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  .fa {
    margin-top: 8px;
    color: lighten(goldenrod, 10%);
    font-size: 2.3em;
    margin-bottom: 10px;
    &:hover {
      color: white;
    }
  }
  .fa-plus {
    padding-bottom: 20px;
    border-bottom: 2px solid lighten(goldenrod, 10%);
  }
}
